
/*=================== visualizer styles ===================*/

#visualizer {
	position: relative;
	margin: 8px;
}

#overlay {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	/* line-height: normal; */
}

#control {
	display: none;
	width: 300px;
	padding: 10px;
	background: #d5e3f6;
	border-radius: 10px;
	z-index: 100;
    vertical-align: top;
}

.outer {
	position: relative;
	left: 600px;
	top: 30px;
	margin-bottom: 10px;
	line-height: 1;
}

.outer::after {
	content: " ";
	white-space: pre;
}

.inner {
	display: inline-block;
	background: #4483d5;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	line-height: normal;
	vertical-align: top;
}

/*=================== tooltip styles ===================*/

/* tooltip container */
.tooltipcont {
	position: relative;
	display: inline-block;
}

/* tooltip text */
.tooltipcont .tooltiptext {
	width: 1000px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px;
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 125%;
	transition: opacity 0.3s;
}

/* tooltipCont arrow */
.tooltiptext::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent #555 transparent transparent;
}

.tooltip-visible .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.tooltip-hidden .tooltiptext {
	visibility: hidden;
	opacity: 0;
}

.tooltip-hidden:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

/*=================== slider styles ===================*/

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #4483d5;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4483d5;
	cursor: pointer;
}

/*=================== switch styles ===================*/

label {
	margin-bottom: 0;
}

.switch-container {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch-container input {display:none;}

.switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switch {
  background-color: #2196F3;
}

input:focus + .switch {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switch.round {
  border-radius: 34px;
}

.switch.round:before {
  border-radius: 50%;
}
